<div class="photo-view">
    <h2>add new image</h2>
    <form #addNewPhoto="ngForm" (ngSubmit)="saveForm()">

        <div>
            <label for="add-photo-url">Add Photo Url</label>
            <input type="url" name="photoUrl" id="add-photo-url" [(ngModel)]="model.url">
        </div>
        <div>
            <label for="new-photo-name">Add Name</label>
            <input type="text" name="photoName" id="new-photo-name" [(ngModel)]="model.description"/>
        </div>
        <button type="submit" [disabled]="!model.url">Save</button>
    </form>
    <h3>Preview</h3>
    <img src="{{model.url}}" alt="your image" />
</div>
<hr>
<div class="photo-view">
    <h2>Gallery</h2>
</div>
<hr>
<div *ngFor="let photo of photos" class="photo-view">
    <span class="center">Photo {{photo.id}} </span><img src={{photo.url}} alt="your photo">
    <p>{{photo.description}}</p>
    <hr>
</div>
