

<form formGroup="addNewPhotoForm" >
    <div>
        <label for="photo-add">Add Photo</label>
        <input type="file" name="Add Photo" id="photo-add" />
    </div>

    <div>
        <label for="new-photo-name">Add Name</label>
        <input type="text" name="Photo Name" id="new-photo-name" />
    </div>
</form>

<div class="photo-view">
    <label for="photo-img">Denali and Wonder Lake</label>
    <img id="photo-img" src="/assets/photos/Ansel-Adams-Denali-and-Wonder-Lake.webp" alt="Denali and Wonder Lake" />
</div>