<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    {{ fileName || "No file uploaded yet." }}

    <mat-form-field>

        <input matInput [disabled]="true" [value]="fileName">

    </mat-form-field>

    <button type="button" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon color="primary">attach_file</mat-icon>
    </button>
    <button (click)="onUploadFile()">Upload</button>
</div>
<div class="image-preview-container">
    Image Preview: <img *ngIf="photoUrl" [src]="photoUrl" alt="" />
</div>
{{photoUrl | json}}
<div>
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">
    </mat-progress-bar>

    <mat-icon class="cancel-upload" (click)="cancelUpload()" 
            *ngIf="uploadProgress">delete_forever</mat-icon>
</div>
Image to show <img [src]="imageToShow$" alt="">
<!-- <div *ngFor="let file of photoFiles">
    <p>Name: {{file.name}}</p>
    <p>Id: {{file.id}}</p>
    <div *ngIf="file['photo-file']">
        Image: <img [src]="file['photo-file'].data" />
    </div>
</div> -->

